<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="Path" value="c:/resources"/>
		<add key="DefaultUser" value="Donut Ripley"/>
		<add key="StartDate" value="1/1/2050"/>
		<add key="MaxThreads" value="9999"/>
		<add key="SecretValue" value="1234"/>
	</appSettings>
</configuration>